<div><button class="botonProducto" routerLink="/bienvenida" aria-label="atras">Volver</button> </div>

<div class="contenedorProductos">
  <div class="tarjetaProducto">
    <img src="assets/images/turbante.jpg" alt="Producto 1" class="imagenProducto">
    <h2 class="tituloProducto">Turbante</h2>
    <p class="descriProducto">El turbante para bebé es un accesorio encantador y adorable que añade estilo y
      personalidad a la apariencia de tu pequeña</p>
    <button routerLink="/comprar" class="botonProducto">Comprar</button>
  </div>

  <div class="tarjetaProducto">
    <img src="assets/images/monos.jpg" alt="Producto 2" class="imagenProducto">
    <h2 class="tituloProducto">Balaca Rosa</h2>
    <p class="descriProducto">
      La diadema para bebé es el accesorio perfecto para añadir un toque de encanto y elegancia al look de tu pequeña
      princesa</p>
    <button routerLink="/comprar" class="botonProducto">Comprar</button>
  </div>

  <div class="tarjetaProducto">
    <img src="assets/images/monos2.jpg" alt="Producto 3" class="imagenProducto">
    <h2 class="tituloProducto">Balaca Moño</h2>
    <p class="descriProducto">
      La diadema para bebé es el accesorio perfecto para añadir un toque de encanto y elegancia al look de tu pequeña
      princesa</p>
    <button routerLink="/comprar" class="botonProducto">Comprar</button>
  </div>
</div>